[Unit]
Description=Yamanote Orchestrator
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Development/yamanote
ExecStart=/usr/bin/python3 /home/pi/Development/yamanote/orchestrator.py
Restart=always
RestartSec=30
Environment=PATH=/home/pi/.local/bin:/usr/local/bin:/usr/bin:/bin
EnvironmentFile=-/home/pi/Development/yamanote/.env

[Install]
WantedBy=multi-user.target
